[pyrogram]
api_id = [DATA EXPUNGED]
api_hash = [DATA EXPUNGED]

[plugins]
root = plugins
include =
    handlers.callback
    handlers.command
    handlers.message

[proxy]
enabled = False
hostname = 127.0.0.1
port = 1080

[basic]
bot_token = [DATA EXPUNGED]
prefix = /!

[channels]
exchange_channel_id = 0
hide_channel_id = [DATA EXPUNGED]
test_group_id = 0

[custom]
host_id = [DATA EXPUNGED]
