[pyrogram]
api_id = [DATA EXPUNGED]
api_hash = [DATA EXPUNGED]

[plugins]
root = plugins
include =
    handlers.callback
    handlers.command
    handlers.message

[proxy]
enabled = False
hostname = 127.0.0.1
port = 1080

[basic]
bot_token = [DATA EXPUNGED]
prefix = /!

[channels]
critical_channel_id = 0
debug_channel_id = 0
exchange_channel_id = 0
hide_channel_id = 0
test_group_id = 0

[custom]
aio = False
backup = False
date_reset = 1st mon
flood_ban = 60
flood_limit = 5
flood_time = 5
host_id = [DATA EXPUNGED]
host_name = [DATA EXPUNGED]
per_page = 10
project_link = https://scp-079.org/pm/
project_name = SCP-079-PM
zh_cn = True

[encrypt]
password = [DATA EXPUNGED]
