[pyrogram]
api_id = [DATA EXPUNGED]
api_hash = [DATA EXPUNGED]

[plugins]
root = plugins
include =
    handlers.callbacks
    handlers.commands
    handlers.messages

[proxy]
enabled = False
hostname = 127.0.0.1
port = 1080

[basic]
bot_token = [DATA EXPUNGED]
prefix = /!

[channels]
test_group_id = 0

[custom]
host_id = [DATA EXPUNGED]
